body, html{
    height: 100%;
}

body{
    font: weight 200px;
    font-size: 1.5rem;
    color: #444;
}

.intro-left{
    background-color: rgb(255, 220, 2);
    position: fixed;
    left: 0;
    width: 33.3333%;
    height: 100%;
}

@media (max-width: 768px) {
    .intro-left{
        height: 30vh;
        margin-bottom: 0;
        position: relative;
        width: 100%;
    }
    .quote{
        display: none;
    }
    .qr-code{
        margin: 10rem ;
    }
    .titulo-portfolio{
        padding-top:20rem;
        text-align: center;
    }
    .titulo-proyectos{
        text-align: center;
    }
    .titulo-skills{
        text-align: center;
    }
    .titulo-contacto{
        text-align: center;
    }
    .contact-desktop{
        display: none;
    }
}

@media (min-width: 768px){
    .contact-mobile{
        display: none;
    }
}

.avatar{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 1rem;
}

.qr-code{
    width: 10rem;
    height: 10rem;
    margin: 1rem;
}

.full-height {
    height: 100%;
}

.quote{
    float: right;
    padding: 2.5rem;
    width: 15rem;
}

section {
    margin: 5rem;
    font-size: 1.2rem;
}


.footer{
    background-color: white;
    font-size: 1rem;
    margin: 0;
}